#p1{
   
}
#p2{
    
}
#p3{
   
}
#p4{
   
}
#p5{
   
}
#p6{
    
}
#p7{
    
}
#p8{
    
}
#p9{
    padding-right:300px ;
}
#p10{
    padding-left: ;
}
#p10{
    padding-left: ;
}
#p11{
    padding-left: ;
}
#p12{
    padding-left: ;
}

.dddd
{
    margin: 0;
    padding: 10px;
    background-color: aqua;
    width:1000px;
    text-align: center; 
    text-overflow: clip;

}